doctype html
html(lang='en')
    head
        title first project in nodeJs
        link(rel='stylesheet', href='/static/main.css')
    body 
      div.wrapper 
       h1.logo first logo 

       block content 